{% extends "basetemplate.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    {{ super() }}
<div class = "container maincontent" id="logo">
    <img src="{{ url_for('.static',filename='images/cvlogonew.svg')}}">
    <div>
        <h3 class="">
            Ever wonder how many times you've played victory?
        </h3>
    </div>
    <form method="post" action="">
        <div class="input-group">
          {{ form.hidden_tag() }}
          {{ form.name(class_="form-control",placeholder="Enter whole or part of a name") }}
          <span class="input-group-btn" id="basic-addon1">
              <button class="btn btn-default" type="button">
                  Find out
              </button>
          </span>
        </div>
    </form>

</div>

{% endblock %}