{% extends "basetemplate.html" %}
{% block body %}
{{ super() }}
<div class='container maincontent' id="leaderboard-main">
    <div id="leaderboard-sub">
        <h3 class="leaderboard-title">Leaderboard</h3>
        <table class="table table-hover" id="leaderboard-table">
            <thead>
                <tr>
                    <th class="name">Name <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span> </th>
                    <th class="instrument">Instrument</th>
                    <th class="year">Year<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                    <th class="victories">Victories<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></th>
                </tr>
            </thead>
            <tbody>
                {% for member in memberslist %}
                    <tr>
                        <td class="name"><a href="{{ url_for('member',username=member.name[:-1].replace(' ','_'))}}">{{ member.name }}</a></td>
                        <td class="instrument">{{ member.instrument }}</td>
                        <td class="year">{{ member.year }}</td>
                        <td class="victories"> {{ member.victorycount }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}